
    <div class="row">
        <div class="col-md-4  text-center">
            <img [src]="contact.imagePath" alt="Avatar" class="ml20 img img-responsive img-circle image-size">
            <div class="mt20 bold">{{contact.name}}</div>
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">
                    <label>Group : </label> {{contact.group}}
                </li>
                <li class="list-group-item">
                    <label>Mobile : </label> {{contact.mobile}}
                </li>
                <li class="list-group-item">
                    <label>Email : </label> {{contact.email}}
                </li>
                <li class="list-group-item">
                    <label>Date Of Birth : </label> {{contact.birthDate}}
                </li>
              </ul>
        </div>
    </div>
    